.primary-color {
  color: var(--primary-color);
}

.draft-label {
  color: var(--hover-color);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: 4px;
  margin-left: 6px;
  background-color: var(--primary-color);
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--hover-color);
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  color: var(--hover-color);
}

p {
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 3px solid var(--border-color);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--border-color);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 3px solid var(--primary-color);
  color: inherit;
  text-decoration: none;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
}

time {
  color: grey;
}

/* Remove post list padding */
@media screen and (max-width: 600px) {
  .list>ul {
    margin: 0;
    padding: 0;
  }
}

.cmd-color {
  color: var(--cmd-color);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  margin: 0 calc(-1 * var(--margin-sides));
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  bottom: 0;

}

footer #footer-misc,
footer #copyright {
  display: inline-block
}

footer {
  background-color: #50395c
}

footer p {
  // color: #faebd7;
  font-size: 14px;
  margin: 4px 10px 4px 10px;
}

.posts-list {
  margin-bottom: 15px;
}

.description {
  color: grey;
  margin: 5px auto;
}

.perm-r {
  color: #00cfe0;
}

.perm-w {
  color: #ffcc4e;
}

.ls-author {
  color: #e0cda7;
}
